.headIng:hover{
    color: tomato;
}
.headIngChak:hover{
    color: rgb(219, 173, 34);
    font-size: 1.3rem;
}
.headIngBtn{
    margin-top: -75px;
    font-size: 1.2rem;
    font-weight: 650;
}
.headIngBtn:hover{
    color: tomato;
}